#topnav {
  .title {
    font-weight: bold;
    font-size: 18px;
    float: left;
    margin-top: 40px;
  }
}

#intro {
  .slogan {
    h1 {
      background-color: white;
      padding: 5px 10px;
      color: #3a3a3a;
      display: inline-block;
    }
  }
}

.ruby {
  color: #b80e16;
}

.froscon {
  color: #1c8fd2;
}

#schedule {

  .heading {
    h3 {
      color: #3a3a3a;
      text-shadow: none;
      background-color: white;
      padding: 0 10px;
    }
  }

  .sub-heading {
    p {
      color: #3a3a3a;
      text-shadow: none;
      background-color: white;
      display: inline-block;
      padding: 0 5px;
    }
  }

  .timeslot {
    font-size: 12px
  }

}
