<!-- section intro -->
<section id="intro">
<div class="slogan">
  <div class="icon">
    <img src="/img/ruby_froscon_logo-big.png" width="477">
  </div>
  <h1><span class="ruby">Red</span><span class="froscon">Frog</span> Conf 2014</h1>
  <h2>Ruby meets FrOSCon - auch auf der FrOSCon 9</h2>
</div>
</section>
<!-- end intro -->

<!-- Section hintergrund -->
<section id="hintergrund" class="section">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="heading">
        <h3><span>Hintergrund</span></h3>
      </div>
      <div class="sub-heading">
        <p>
        Die RedFrog ist eine Veranstaltung für Ruby-Interessierte auf der FrOSCon.
        Wir verstehen uns als Konferenz, auch wenn wir dieses Jahr nicht offiziell als Subkonferenz der FrOSCon geführt werden.
        Für euch als Besucher hat das keine fast keine Auswirkungen. Es wird weiterhin Vorträge geben - und dieses Jahr außerdem noch
        einen Workshop.
        </p>
        <p>
        Thematisch umfasst unsere Konferenz Ruby im weitesten Sinne:
        Ob Rails oder Ruby Motion, ob JRuby oder Rubinius, Entwicklung oder Operations, Design Patterns oder Entwicklerkultur –
        wir machen keine weiteren Vorgaben. Die Vorträge werden bevorzugt auf Deutsch gehalten, aber wir sind auch offen für
        Vorträge auf Englisch. Da wir einen Workshop-Raum auf der FrOSCon zur Verfügung haben, brauchst du nur
        <a href="http://www.froscon.de/en/visitors/visitors">Eintritt bei der Froscon zu zahlen</a>
        – wir verlangen keinen zusätzlichen Eintritt. Und natürlich kannst du auch an allen Angeboten und Vorträgen der FrOSCon teilnehmen.
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- end section hintergrund -->

<!-- section programm -->
<section id="programm" class="section parallax dark">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="heading">
        <h3><span>Programm</span></h3>
      </div>
      <div class="sub-heading">
        <p>
        Sobald es Details zum Programm gibt, werden wir diese hier
        veröffentlichen. Folge uns auf <a href="https://twitter.com/RedFrogConf">Twitter</a>, um Neuigkeiten direkt zu erfahren.
        </p>
      </div>
    </div>
  </div>

<!-- section call-for-proposals -->
<section id="call-for-proposals" class="section gray-bg">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="heading">
        <h3><span>Call for Proposals</span></h3>
      </div>

      <div class="sub-heading">
        <p>
        Eine Konferenz ist immer nur so gut wie ihre Vorträge. Und ein Vortrag immer nur so gut wie der Vortragende.
        Wir brauchen also eure Unterstützung! Egal ob du Anfänger oder ein alter Hase bist, egal ob du dich mit
        Webprogrammierung, der Anbindung von Banken oder Hausautomatisierung beschäftigst:
        Wir freuen uns auf interessante Themen von interessanten Menschen. Du fühlst dich mit einem Workshop wohler?
        Kein Problem, wir sind offen für kreative Einfälle.
        </p>

        <p>
        Du bist dir nicht ganz sicher, ob du sprechen möchtest oder über was? Schreib uns einfach! Wir helfen und
        ermutigen dich gerne :) Vielleicht hilft dir auch die wunderbare Seite
        <a href="http://weareallaweso.me">We are all awesome</a>
        </p>

        <p>
        Noch ist unser Call for Proposals nicht eröffnet. Das kommt aber bald!
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- section call-for-proposals -->

<!-- section ort -->
<section id="ort" class="section">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="heading">
        <h3><span>Ort</span></h3>
      </div>
      <div class="sub-heading">
        <p>
          Die RedFrog Conf 2014 findet im Rahmen der FrOSCon 9 am <strong>23. und 24. August 2014</strong> an der <strong>Hochschule Bonn-Rhein-Sieg in Sankt Augustin</strong>
          statt. Für nähere Infos möchten wir euch gerne auf die <a href="http://www.froscon.de/besucher/besucher/">offizielle FrOSCon Seite</a> verweisen.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="map-container">
  <!-- google map code here -->
  <iframe src="http://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=+Hochschule+Bonn-Rhein-Sieg&amp;aq=&amp;sll=50.957245,6.967322&amp;sspn=0.358126,0.593948&amp;ie=UTF8&amp;hq=Hochschule+Bonn-Rhein-Sieg&amp;t=m&amp;ll=50.780597,7.182312&amp;spn=0.018995,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed">
  </iframe>
  <!-- end google map code -->
</div>

<div class="container">
  <div class="row">
    <div class="span6 offset3">
      <div class="sub-heading">
        <p>
          Falls ihr Fragen, Wünsche oder Anregungen habt, dann schickt uns doch einfach <a href="mailto:ruby@froscon.org">eine Mail</a>.
          Für Neuigkeiten rund um die Konferenz folgt uns einfach auf Twitter unter <a
            href="https://twitter.com/RedFrogConf">@RedFrogConf</a>.
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- end section ort -->

<!-- section geschichte -->
<section id="geschichte" class="section">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="heading">
        <h3><span>Geschichte</span></h3>
      </div>
      <div class="sub-heading">
        <p>
        Das letzte Jahr hat uns die RedFrogConf viel Spaß gemacht. Informationen zum Programm des Vorjahres findet ihr hier:
        <a href="/history/2013">RedFrogConf 2013</a>
        </p>
        <p>
        Wir hoffen auch dieses Jahr auf viel Spaß und neue Erfahrungen. Kommt vorbei und macht mit!
        </p>
      </div>
    </div>
  </div>
</div>
</section>
