#topnav .title {
  font-weight: bold;
  font-size: 18px;
  float: left;
  margin-top: 40px;
}

#services .heading h3 {
  color: #3a3a3a;
  text-shadow: 2px 0 #f8f8f8;
}
#services .section-intro p {
  color: #3a3a3a;
}
